.container {
  margin: 0 auto;
  padding: 0 1.2rem;
  max-width: 123.4rem;
  height: 100%;

  @include responsive(tablet-sm) {
    padding: 0 1.6rem;
  }

  @include responsive(tablet-lg) {
    padding: 0 3.2rem;
  }

  @include responsive(desktop) {
    padding: 0 3.2 rem;
  }
}
